@import '../components/Toast/index.scss';
@import '../components/Loading/index.scss';
@import '../libs/mixins.scss';
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 64px;
  box-sizing: border-box;
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 -1px 0 0 #e7e7e7; /* no */
}
.footer-btn {
  height: 44px;
  font-size: 16px; /* px */
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  cursor: pointer;
  background: #f63;
  border-radius: 2px;
  @include flex;
}
