.pai-page {
  margin-bottom: 80px;
}
.header-bg {
  height: 325px;
  background: url(./images/headerbg.png) no-repeat center center;
  background-size: cover;
}
.btns {
  padding: 10px 34px 8px;
  text-align: center;
  background-color: #ff4b5c;
  .downbtn {
    display: flex;
    width: 307px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 40;
    color: #fff;
    background-color: #29B5EB;
    //border: .04rem solid #2b1919;
    border-radius: 6px;

    justify-content: center;
    align-items: center;
  }
}


.qa {
  margin-top: 40px;
}
.question {
  margin-bottom: 15px;
  font-size: 17;
  color: #666;
  text-align: center;
}
.answer {
  font-size: 13px;
  color: #999;
  text-align: center;
}
.qaimg {
  height: 225.5px;
  margin: 25px auto 0 auto;
  &0 {
    background: url(./images/pic0.png) no-repeat center center;
    background-size: 225.5px 225.5px;
  }
  &1 {
    background: url(./images/pic1.png) no-repeat center center;
    background-size: 225.5px 225.5px;
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 68px;
  overflow: hidden;
  vertical-align: middle;
  background-color: #f0f0f0;
  .logo {
    float: left;
    margin: 7.5px 12px;
    width: 53px;
    height: 53px;
    background: url(./images/logo.png) no-repeat center center;
    background-size: contain;
  }
  .tip {
    margin-top: 8px;
    float: left;
    font-size: 14px;
    color: #999;
  }
  .title {
    font-size: 17px;
    color: #666;
    margin-top: 3px;
  }
  .btn {
    float: right;
    width: 100px;
    height: 39px;
    margin: 14.5px 12px;
    font-size: 16px;
    line-height: 39px;
    color: #fff;
    text-align: center;
    background-color: #18b4ed;
    border-radius: 4px;
  }
}

.applink-cover {
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(./images/applink-bg.png) center center no-repeat;
		background-size: cover;
	}
