@import "../../libs/mixins.scss";
.tag {
  font-family: PingFangSC-Medium;
  font-weight: bold;
  font-size: 15px;
  color: #111111;
  letter-spacing: -0.24px;
  width: 50%;
  text-align: center;
  background: #fff;
  &-text{
    display: inline-block;
    padding: 11.5px 0;
  }
  &s {
    height: 45px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10); /* no */
    @include flex;
  }
  &-active {
    color: #FF6633;
    .tag-text{
      border-bottom: 2px solid #FF6633;
    }
  }
  &-wrap {
    margin-bottom: 10px;
  }
}
.subtag {
  font-size: 14px;
  color: #666666;
  letter-spacing: -0.225px;
  border-right: 1px solid #E1E1E1; /* no */
  height: 23px;
  width: 25%;
  @include flex;
  &:last-of-type {
    border-right: none;
  }
  &-active{
    color: #FF6633;
  }
  &s {
    background: #fff;
    height: 40px;
    @include flex;
  }
}
